{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-yaml"],
  "importOrder": [
    "^node:",
    "<THIRD_PARTY_MODULES>",
    "^@root/(.*)$",
    "^@lib/(.*)$",
    "^@/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "yamlBlockStyle": "literal",
  "yamlCollectionStyle": "block",
  "yamlQuoteKeys": false,
  "yamlQuoteValues": true
}
